.album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    width: 100px;
    height: 140px;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 1px solid #020202;
    text-align: center;
}

.card > img {
    margin-bottom: .75rem;
    border-radius: 100px;
}

.card-text {
    font-size: 18px;
    line-height: 3em;
}
